@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&family=Marcellus&family=Roboto+Slab:wght@300&display=swap');
/* font-family: 'EB Garamond', serif;
font-family: 'Lobster', cursive;
font-family: 'Marcellus', serif;
font-family: 'Roboto Slab', serif; */
*{
    margin: 0px;
    padding: 0px;
}
.nav{
    height: 10vh;
    width: 99vw;
    border: 0px solid black;
    display: flex;
    
}
.bub{
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 58vw;
    height: 8vh;
    width: 14vw;
    border: 0px solid black;
    font-size: 45px;
    font-weight: bolder;
    color:#034694;
}
.word{
    margin-top: 1vh;
    height: 7vh;
    width: 6vw;
    border: 0px solid black;
    font-size: 25px;
    font-weight: bolder;
    color:black; 
    padding-top: 11px;
    text-decoration: none;
}
.sign{
    margin-top: 1vh;
    margin-left: 1vw;
    height: 7vh;
    width: 10vw;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 23px;
    font-weight: bolder;
    border-radius: 12px;
    background-color: #00356B;
    color:#dbedff;
}
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #aec8e1;
color:#00356B;
 
}
.signupbtn{
background-color: #00356B;
color:#dbedff;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

  /* footer */

  footer {
    height: 15vh;
    padding-top: 3vh;
    text-align: center;
    margin-top: 9vh;
    background-color: #00356B;
    color:#dbedff;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
  }